
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Sikrer at body tager mindst hele skærmens højde */
    margin: 0; /* Fjerner standard margin */
    background-color: rgb(255, 255, 255);
}

#outline {
    display: flex;
    justify-content: center;
}

#gamefield {
    border: 2px solid rgb(0, 0, 0);
    width: fit-content;
    display: grid;
    justify-content: center;
    position: relative; /* Til positionering af #player relativt til #gamefield */

}


#background {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
}

#background .tile {
    width: var(--TILE_SIZE);
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-size: 100%;
    image-rendering: pixelated;
}

#characters{
    grid-area: 1 / 1;
}

#player{
    z-index: 2;
    width: 24px;
    height: 30px;
    background-image: url('images/Character 9.png');
    background-size: 400% 400%;
    image-rendering: pixelated;
    position: relative; /* Til positionering af #player relativt til #gamefield */

}

#player.animate{
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}


.highlight {
    outline: 2px dashed yellow;
    translate: 0 0;
}

.show-rect {
    outline: 2px solid red;
}

.show-reg-point ::before{
    content: "";
    position: absolute;
    background-color: cyan;

    width: 3px;
    height: 3px;

    translate: var(--regX) var(--regY);
}

#items {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), var(--TILE_SIZE));
    grid-template-rows: repeat(var(--GRID_HEIGHT), var(--TILE_SIZE));
    position: relative;
    z-index: 1; 
    top: 0;
    left: 0;
    image-rendering: pixelated;

}
 
.item {
    width: var(--TILE_SIZE);
    height: var(--TILE_SIZE);
    position: relative;
    grid-area: calc(var(--row) + 1) / calc(var(--col) + 1);
}
  
.take {
    animation-name: takeAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes takeAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}


.item.gems {
    background-image: url('simple-assets/images/items/gems.png');
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.item.gold {
    background-image: url('simple-assets/images/items/gold.png');
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.item.pot {
    background-image: url('simple-assets/images/items/pot.png');
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.grass {
    background-image: url('simple-assets/images/tiles/grass.png');
    image-rendering: pixelated;
}

.redwall {
    background-image: url('simple-assets/images/tiles/redwall.png');
    image-rendering: pixelated;

}

.mine {
    background-image: url('simple-assets/images/tiles/mine.png');
    image-rendering: pixelated;

}

.cliff {
    background-image: url('simple-assets/images/tiles/cliff.png');
    image-rendering: pixelated;

}

.floor {
    background-image: url('simple-assets/images/tiles/floor_planks.png');
    image-rendering: pixelated;
}

.door {
    background-image: url('simple-assets/images/tiles/door.png');
    image-rendering: pixelated;

}


.well {
    background-image: url('simple-assets/images/tiles/well.png');
    image-rendering: pixelated;
}

.flower {
    background-image: url('simple-assets/images/tiles/flowers.png');
    image-rendering: pixelated;
}

.path {
    background-image: url('simple-assets/images/tiles/path.png');
    image-rendering: pixelated;
}

.lava {
    background-image: url('simple-assets/images/tiles/lava.png');
    image-rendering: pixelated;
}

.tree {
    background-image: url('simple-assets/images/tiles/tree.png');
    image-rendering: pixelated;
}

.floorStone {
    background-image: url('simple-assets/images/tiles/floor_stone.png');
    image-rendering: pixelated;
}

.water {
    background-image: url('simple-assets/images/tiles/water.png');
    image-rendering: pixelated;
}


#player.down{
    background-position: 0% 0%;
    animation-name: down;
}

@keyframes down{
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: -400% 0%;
    }
}

#player.up{
    background-position: 0% -100%; /* Adjust these values to match your sprite sheet */
    animation-name: up;
}

@keyframes up{
    from{
        background-position: 0% -100%;
    }
    to{
        background-position: -400% -100%;
    }
}


#player.right{
    background-position: 0% -300%; /* Adjust these values to match your sprite sheet */
    animation-name: right;
}

@keyframes right{
    from{
        background-position: 0% -300%;
    }
    to{
        background-position: -400% -300%;
    }
}


#player.left{
    background-position: 0% -200%; /* Adjust these values to match your sprite sheet */
    animation-name: left;
}

@keyframes left{
    from{
        background-position: 0% -200%;
    }
    to{
        background-position: -400% -200%;
    }
}


